.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  background-color: #121212;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-container img {
  height: 41px;
  width: 126px;
  margin-left: 825px;
}

.search-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%);
  margin-right:140px;
  background:white;
  border-radius:5px;
}

.search-container input {
  border: none;
  outline: none;
  border-radius: 3px;
  width: 256px;
  height: 13px;
  padding: 5px;
  border:0px;
  outline:none;
  
}

.search-container img {
  height: 32px;
  margin-left: 5px;
  width:27px;
  
}
.header-children {
  display: flex;
  gap: 10px;  /* Adds spacing between children */
  align-items: center;
  margin-right:38px;
}
