body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
}

.card-wrapper {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border: 2px solid grey;
  border-radius: 15px;
  padding: 20px;
  background-color: #fafafa;
}

.card-item {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid grey;
}

.card-image {
  width: 100%;
  aspect-ratio: 3 / 4; /* makes it scale cleanly */
  background-color: azure;
  height: 250px;

}

.card-content {
  padding: 10px;
}
button.card-content {
  cursor: pointer;
  margin: 10px;
  width: 90%;
  height: auto;
  border: 2px solid grey;
  background-color: white;
  color:black;
}
button.card-content:hover,
button.card-content:focus{
  background-color: rgb(44, 168, 44);
  color:white;
  outline: none;
}
.card-image img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.customize-card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.customize-image {
  /* background-color: grey; */
  display: flex
;
  justify-content: center;
  align-items: center;
  margin: 17px;
  border: 2px solid #e2aa53;
}
.customize-image img{
  width:80vh;
  padding: 18px;
  height:  89vh;;
}
.customize-content{
  height:100vh;
  width:50vh;
  background-color: pink;
}
.outer-root{
  display: flex;
  width:100%;
  height:100%;

}
.root{
  height:100%;
  width:100%;
}